<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<h1>La Renouée du Japon</h1>
<p><i>Reynoutria japonica Houttuyn ; Famille des Polygonacées</i></p>
<p>
Plante herbacée dont les rhizomes profonds renouvellent tous les ans des tiges dressées jusqu’à 3m de hauteur, munies de feuilles à limbe ovale tronqué à la base, en longues pointes au sommet.
</p>
<p>
Floraison en août-septembre, à fleurs blanches en faisceaux qui composent de longues panicules.
</p>
<p>
Originaire de l’est asiatique, naturalisée et invasive ; elle colonise les berges des rivières, les bords des routes et les terrains vagues.
</p>
