<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<h1>Le Robinier faux acacia</h1>
<p><i>Robinier pseudoacacia Linné ; famille des Fabacées ; occitan acàcia, robinèr</i></p>
<p>
Arbre épineux à feuilles caduques, composées de folioles ovales, dont la taille peut atteindre 30 m de haut et l’âge de 400 ans.
</p>
<p>
Floraison en mai-juin, grappes pendantes de fleurs blanches papilionacées odorantes, mellifères ; fruit : gousse contenant 10 à 12 graines comprimées. Bois à cœur jaune résistant très longtemps à l’altération.
</p>
<p>
Originaire de l’est des Etats-Unis, naturalisé depuis le XVIe siècle, se multiplie par graines et drageonne, peut devenir invasif.
</p>

