<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<h1>Le Troène brillant</h1>
<p><i>Ligustrum lucidum Aïton ; Famille des Oléacées.</i></p>
<p>
Arbre à feuilles persistantes ovales aiguës dont la taille peut atteindre 10m.
</p>
<p>
Floraison en août-septembre, fleurs blanches en panicule. Fruits oblongs noirâtres de 1 cm de long mûrissant en hiver, source abondante de nourriture pour les oiseaux qui diffusent les graines, propageant l’espèce qui devient invasive. Plantation pour clôtures.
</p>
<p>
Originaire de Chine du Nord, de Corée, du Japon, introduit en Europe en 1794.
</p>
