<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<h1>Le Plaqueminier faux-lotier</h1>
<p><i>Diospyros lotus Linné. Famille Ebénacée.</i></p>
<p>
Arbre à feuilles caduques ovales-oblongues, dentées, dont la taille peut atteindre 15m de haut.
</p>
<p>
Floraison en juin à sexes séparés, fleurs peu apparentes, solitaires. Fruits mûrs en automne, baies globuleuses de la taille d’une cerise, d’un jaune orangé. Bois très dur irrégulièrement teinté de noir.
</p>
<p>
Origine : depuis l’ouest de l’Asie jusqu’à la Chine et au Japon, introduit en Europe au XVIe siècle.
</p>
