<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<h1>Balsamine de l’Himalaya</h1>
<p><i>Impatiens glandulifera Royle ; Famille des Balsaminacées. Impatiente glandulifère</i></p>
<p>
Plante herbacée annuelle qui peut dépasser 3m, à tige robuste, charnue, creuse, pourvue de longues feuilles opposées, lancéolées, dentées, celles des rameaux alternes.
</p>
<p>
Floraison de juillet à septembre, corolles pourpres à 5 pétales, à base dilatée, munie d’un éperon court et courbé à angle droit. Fruit en capsule bosselée à 5 valves dont la déhiscence brutale projette au loin les graines.
</p>
<p>
Originaire de l’Himalaya, se diffuse sur les dépôts alluviaux humides des berges des rivières et devient invasive.
</p>
