<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<h1>Le Buddleia de David</h1>
<p><i>Buddleja davidii Franchet ; famille des Buddlejacées ; arbre aux papillons.</i></p>
<p>
Arbrisseau à feuilles caduques, lancéolées, dentelées, blanchâtres au revers, dont la taille peut atteindre 4 à 5 m. Floraison de juin à septembre en longues panicules denses de couleur lilas composées de fleurs en tube à 4 divisions, odorantes, attractives pour les insectes.
</p>
<p>
Originaire du centre et de l’ouest de la Chine, introduit en France en 1890, dédié à l’abbé Armand David (1826-1900) né à Espelette (64) missionnaire en Chine, grand investigateur de la faune et de la flore chinoises. Il se naturalise sur les berges des cours d’eau, au sein des terrains vagues et peut devenir invasif.
</p>
