<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<h1>Le tilleul à grandes feuilles</h1>
<p><i>Tilia grandifolia Ehhrart ; Tilia Platyphyllos Scopoli ; famille des Tiliacées. Occitan tilh, telh, tilhou</i></p>
<p>
Arbre pouvant atteindre 30 à 40 m de haut, dont l’âge peut dépasser 1000 ans, feuilles caduques, pubescentes, arrondies, dentées, aiguës au sommet.
</p>
<p>
Floraison juin-juillet, fleurs bisexuées, d’un blanc jaunâtre, odorante, aromatique, mellifère, médicinales, portées par un long pédoncule ailé à la base ; fruit globuleux, coriace, à 5 côtes saillantes ;
</p>
<p>
Associé à la chênaie jusqu’à la base de la forêt montagnarde.
</p>
