<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<h1>Le chêne pédonculé</h1>
<p><i>Quercus pedunculata Ehhart ; famille des fagacées ; occitan Casso, cassou</i></p>
<p>
Grand arbre à feuilles caduques pouvant atteindre 50m de hauteur dont l’âge peut dépasser 500 ans.
</p>
<p>
Floraison en avril avec des chatons à étamines et des fleurs pistillées.
</p>
<p>
Fruit : gland coiffé d’une cupule à long pédoncule mûr en hiver ; Bois de bonne qualité largement utilisé dans la construction. Espèce principale des peuplements arborés de basse altitude (chênaies)
</p> 