<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<h1>Le laurier noble</h1>
<p><i>Laurus nobilis Linné ; famille des Lauracées. Occitan : laurèr</i></p>
<p>
Arbre à feuilles persistantes oblongues-lancéolées, coriaces, à bord ondulé, très aromatiques, taille médiocre pouvant dépasser 10m.
</p>
<p>
Floraison mars-avril en petites ombelles d’un vert jaunâtre, mâles et femelles sur des pieds différents (espèce dioïque). Fruits ovoïdes noirs et luisants mûrs en automne.
</p>
<p>
Originaire de l’aire méditerranéenne propagé depuis l’antiquité. Propriétés médicinales et aromatiques toujours utilisées.
</p>
