<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<h1>Le peuplier noir</h1>
<p><i>Populus nigra Linné ; famille des Salicacées. Occitan : bidau.</i></p>
<p>
Arbre à feuilles caduques ovales-triangulaires, dentelées, à long pétiole ; taille jusqu’à 30m, 40m pour le peuplier noir d’Italie en fuseau.
</p>
<p>
Floraison en mars-avril, fleurs mâles et femelles en chatons distincts, fruits en forme de capsules ovoïdes libérant des graines couvertes de poils blancs.
</p>
<p>
Espèce exigeante en eau des lisières fluviatiles ou lacustres d’Europe, d’Asie Occidentale et d’Afrique du Nord.
Bois blanc léger, très utilisé en caisserie notamment.
</p>
