<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<h1>L’aubépine monogyne</h1>
<p><i>Crataegus monogyna Jacquin ; famille des Rosacées, Epine blanche. Occitan : broc blanc, espiaube</i></p>
<p>
Petit arbre épineux densément ramifié, à feuilles caduques découpées en lobes aigus ; taille jusqu’à 10m, âge pouvant atteindre 500 ans.
</p>
<p>
Floraison en mai, corolle blanche ou rosée odorante à 5 pétales, une vingtaine d’étamines et un seul pistil. Fruit rouge, ovoïde à un seul noyau.
</p>
<p>
Fréquente dans les haies vives.
</p>
