<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<h1>Le buis toujours vert</h1>
<p><i>Buxus sempervirens Linné ; famille des buxacées. Occitan : bouch</i></p>
<p>
Arbuste à feuillage persistant, dense, dont la taille peut atteindre 10 m de haut, feuilles ovales, entières, coriaces, luisantes. Floraison en mars-avril en glomérules compacts, fleurs mâle à 4 étamines, fleurs femelles à 3 styles donnant un fruit ovoïde à 3 valves. Bois jaune, dense, dur, à grain fin, susceptible d’un beau poli, utilisé en marqueterie, tournerie, gravure, etc.
</p>
<p>
Sur les buis géants de l’île de Sauveterre furent récoltés en 1972 des lichens épiphylles rarissimes comme Bacidia buxi et Strigula elegans décrits par A. Vezda et J. Vivant. Les buis sont actuellement parasités et dévastés par un petit papillon la Pyrale du Buis.
</p>
